.local/
output/
.build/
.sandbox/
*.egg-info
*.pyc
.benchmarks
.cache
.coverage
.mypy_cache
.pytest_cache
.subl
.tox
.DS_Store
.build/
__pycache__
htmlcov/
build/
dist/
monkeytype.sqlite3
tests/logs
data/*
log/*
_docpress
test/upload_file/result_file.txt
migrations/versions
supervisord_output.txt
logs/
storage/
DEPLOY_SET
.scannerwork/
.vscode
.env
.DS_Store
